{% macro render_field(field) %}
  <strong>{{ field.label }}:</strong>
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class='errors'>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_bootstrap_field(field) %}
  <div class="form-group {% if field.errors %} error {% endif %}">
      {{ field.label }}
    {{ field(class='form-control')|safe }}
  </div>
  {% if field.errors %}
  <ul class='errors'>
    {% for error in field.errors %}
        <li>{{ error }}</li><br>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}