<!-- Small boxes (Stat box) -->
<div class="col-xs-12">
  <div class="box box-success box-solid">
    <div class="box-header">
      <h3 class="box-title">Basic staticstics for cluster</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
      <!-- /.col -->
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Total running jobs</h3>
              <p>{{ cluster.num_jobs }}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Minimal number of used cores</h3>
              <p>{{ cluster.min_nodes }}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Maximal number of used cores</h3>
              <p>{{ cluster.max_nodes }}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Maximal job running time</h3>
              <p>{{ cluster.max_job_time }}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title" title="total time for executing all jobs">Total CPUs time</h3>
              <p>{{ cluster.cpus_time }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Active users</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="active_users" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Last submit (UTC)</th>
              <th>Num of jobs</th>
            </tr>
          </thead>
          <tbody>
            {% for user in cluster.users.items() %}
            <tr>
              <td><a href={{ url_for('user', user=user[0]) }}>{{ user[0] }}</a></td>
              <td>{{ user[1]['last_submit'] }}</td>
              <td>{{ user[1]['num_jobs'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Username</th>
              <th>Last submit (UTC)</th>
              <th>Num of jobs</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  </div>
  <!-- /.row -->
  
  <script>
    $(function () {
      $("#active_users").DataTable({
        "paging": true,
        "pageLength": 15,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
  </script>