<!-- Small boxes (Stat box) -->
<div class="row">
<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>{{ cluster['total_users'] }}</h3>

      <p>Total Users</p>
    </div>
    <div class="icon">
      <i class="ion ion-person-stalker"></i>
    </div>
    <a href="{{ url_for('users') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3>{{ cluster['active_nodes'] }}<sup style="font-size: 20px">%</sup></h3>

      <p>Active Nodes</p>
    </div>
    <div class="icon">
      <i class="ion ion-cube"></i>
    </div>
    <a href="{{ url_for('nodes') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>{{ cluster['active_jobs'] }}</h3>

      <p>Jobs</p>
    </div>
    <div class="icon">
      <i class="ion ion-ios-pulse-strong"></i>
    </div>
    <a href="{{ url_for('jobs') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
</div>
<!-- /.row -->
<div class="row">
<div class="col-xs-12">
  <!-- interactive chart -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <i class="fa fa-bar-chart-o"></i>

      <h3 class="box-title">Interactive Area Chart</h3>

      <div class="box-tools pull-right">
        Real time
        <div class="btn-group" id="realtime" data-toggle="btn-toggle">
          <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
          <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div id="interactive" style="height: 300px;"></div>
    </div>
    <!-- /.box-body-->
  </div>
  <!-- /.box -->

</div>
<!-- /.col -->
</div>
<!-- /.row -->

<script>
  $(function () {
    /*
     * Flot Interactive Chart
     * -----------------------
     */
    // We use an inline data source in the example, usually data would
    // be fetched from a server
    var data = [], totalPoints = 100;

    function getClusterLoadData() {

      if (data.length > 100)
        data = data.slice(1);

      // Do a random walk
      while (data.length < totalPoints) {
        data.push(0);
      }
  	$.getJSON("/chart-data/cluster/load", function(json) {
		    data.push(json.data);
		  });

      // Zip the generated y values with the x values
      var res = [];
      for (var i = 0; i < data.length; ++i) {
        res.push([i, data[i]]);
      }

      return res;
    }

    var interactive_plot = $.plot("#interactive", [getClusterLoadData()], {
      grid: {
        borderColor: "#f3f3f3",
        borderWidth: 1,
        tickColor: "#f3f3f3"
      },
      series: {
        shadowSize: 0, // Drawing is faster without shadows
        color: "#3c8dbc"
      },
      lines: {
        fill: true, //Converts the line chart to area chart
        color: "#3c8dbc"
      },
      yaxis: {
        min: 0,
        max: 100,
        show: true
      },
      xaxis: {
        show: true
      }
    });

    var updateInterval = 1500; //Fetch data ever x milliseconds
    var realtime = "on"; //If == to on then fetch data every x seconds. else stop fetching
    function update() {

      interactive_plot.setData([getClusterLoadData()]);

      // Since the axes don't change, we don't need to call plot.setupGrid()
      interactive_plot.draw();
      if (realtime === "on")
        setTimeout(update, updateInterval);
    }

    //INITIALIZE REALTIME DATA FETCHING
    if (realtime === "on") {
      update();
    }
    //REALTIME TOGGLE
    $("#realtime .btn").click(function () {
      if ($(this).data("toggle") === "on") {
        realtime = "on";
      }
      else {
        realtime = "off";
      }
      update();
    });
    /*
     * END INTERACTIVE CHART
     */

  });

  /*
   * Custom Label formatter
   * ----------------------
   */
  function labelFormatter(label, series) {
    return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
        + label
        + "<br>"
        + Math.round(series.percent) + "%</div>";
  }
</script>