{% extends "layout.html" %}
{% block styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loading.min.css') }}">
{% endblock %}
{% block scripts %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- FLOT CHARTS -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.min.js') }}"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.resize.min.js') }}"></script>
<script>
    $(function () { 
        $("#content").load("/data/dashboard");
    });
</script>
{% endblock %}
{% block title %}KRC Cluster | Dashboard{% endblock %}