{% extends "layout.html" %}
{% block styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
<!-- daterange picker -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}
{% block scripts %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ url_for('static', filename='plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='plugins/fastclick/fastclick.js') }}"></script>
<!-- date-range-picker -->
<script src="{{ url_for('static', filename='plugins/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- FLOT CHARTS -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.min.js') }}"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.resize.min.js') }}"></script>
{% endblock %}
{% block title %}KRC Cluster | Job {{ job['job_id'] }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Job {{ job['job_id'] }}</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Job id</th>
							<th>Job name</th>
							<th>User</th>
							<th>Run time</th>
							<th>Start time</th>
							<th>State</th>
							<th>Node list</th>
							<th>Num nodes</th>
							<th>Num CPUs</th>
							<th>Work dir</th>
							<th>Exit Code</th>
							<th>Disk space</th>
							<th>VM size</th>
						</tr>
					</thead>
					<tbody>
						{% for step in job %}
						<tr>
							<td>{{ job[step].job_id }}</td>
							<td>{{ job[step].name }}</td>
							<td>{{ job[step].user_id }}</td>
							<td>{{ job[step].run_time_str }}</td>
							<td>{{ job[step].start_time }}</td>
							<td>{{ job[step].job_state }}</td>
							<td>{{ job[step].node_list }}</td>
							<td>{{ job[step].num_nodes }}</td>
							<td>{{ job[step].num_cpus }}</td>
							<td>{{ job[step].work_dir }}</td>
							<td>{{ job[step].exit_code }}</td>
							<td>{{ job[step].disk_write }}</td>
							<td>{{ job[step].vm_size }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>Job id</th>
							<th>Job name</th>
							<th>User</th>
							<th>Run time</th>
							<th>Start time</th>
							<th>State</th>
							<th>Node list</th>
							<th>Num nodes</th>
							<th>Num CPUs</th>
							<th>Work dir</th>
							<th>Exit Code</th>
							<th>Disk space</th>
							<th>VM size</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->
<script>
  $(function () {
  	//Date range picker with time picker
		$('#start_date').daterangepicker({singleDatePicker: true, timePicker: true, timePicker24Hour: true, timePickerIncrement: 1, format: 'YYYY-MM-DD' + 'T' + 'HH:mm'});
		$('#end_date').daterangepicker({singleDatePicker: true, timePicker: true, timePicker24Hour: true, timePickerIncrement: 1, format: 'YYYY-MM-DD' + 'T' + 'HH:mm'});
    $("#example1").DataTable({
			"scrollX": true,
			"scrollY": '55vh',
      "scrollCollapse": true,
      "paging": false,
		  "searching": true,
      "ordering": true,
      "info": true
    });
  });
</script>
{% endblock %}