{% extends "layout.html" %}
{% block styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
<!-- daterange picker -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}
{% block scripts %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ url_for('static', filename='plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='plugins/fastclick/fastclick.js') }}"></script>
<!-- date-range-picker -->
<script src="{{ url_for('static', filename='plugins/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- FLOT CHARTS -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.min.js') }}"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.resize.min.js') }}"></script>
{% endblock %}
{% block title %}KRC Cluster | Jobs{% endblock %}
{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Date and time filter for all jobs</h3>
			</div>
			<div class="box-body">
				<!-- Date and time range -->
				{% from "_formhelpers.html" import render_bootstrap_field %}
				<form class="form" method="POST" action="" name="filter-jobs" enctype="multipart/form-data">
					<div class="input-group">
						{{ render_bootstrap_field(form.start_date) }}
						{{ render_bootstrap_field(form.end_date) }}
						<button class="bloc-button btn btn-d btn-lg btn-block" type="submit">
							Filter
						</button>
					</div>
					<!-- /.input group -->
				</form>
			</div>
		</div>
		<!-- /.form group -->
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Current jobs placement</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="jobs_placement" class="table table-bordered">
					<thead>
						<tr>
							<th>Node</th>
							<th colspan="{{ jobs_placement['max_cpus'] }}" class="text-center">Cores</th>
						</tr>
					</thead>
					<tbody>
						{% for node in jobs_placement['nodes'] %}
						<tr>
							<td><a href={{ url_for('node', node=jobs_placement['nodes'][node]['name']) }}>{{ jobs_placement['nodes'][node]['name'] }}</a></td>
							{% for jobs in jobs_placement['nodes'][node]['cpus'] %}
							{% if jobs == 'Free' %}
							<td bgcolor="PaleGreen">{{ jobs }}</td>
							{% else %}
							{% if jobs == 'Down' %}
							<td bgcolor="PaleGoldenRod">{{ jobs }}</td>
							{% else %}
							<td bgcolor="PaleTurquoise">
								{% for job in jobs %}
								<a href={{ url_for('job', job_id=job) }} title={{ job }} style="color:black;">{{ job }}</a>
								{% endfor %}
							</td>
							{% endif %}
							{% endif %}
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<div class="row">
	<div class="col-xs-12">

		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Jobs</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="jobs" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Job name</th>
							<th>User</th>
							<th>Run time</th>
							<th>Start time</th>
							<th>Progress</th>
							<th>State</th>
							<th>Node list</th>
							<th>Num nodes</th>
							<th>Num CPUs</th>
							<th>Work dir</th>
							<th>Exit Code</th>
							<th>StdErr</th>
							<th>StdOut</th>
						</tr>
					</thead>
					<tbody>
						{% for item in jobs %}
						<tr>
							<td><a href={{ url_for('job', job_id=jobs[item].job_id) }} title={{jobs[item].job_id}}>{{ jobs[item].name }}</a></td>
							<td>{{ jobs[item].user_id }}</td>
							<td>{{ jobs[item].run_time_str }}</td>
							<td>{{ jobs[item].start_time }}</td>
							<td>
								<div class="progress active">
									{% if jobs[item].progress == 100 %}
									{% if jobs[item].failure %}
									<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{ jobs[item].progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ jobs[item].progress }}%">
										{% else %}
										<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ jobs[item].progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ jobs[item].progress }}%">
											{% endif %}
											{% else %}
											<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{ jobs[item].progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ jobs[item].progress }}%">
												{% endif %}
												<span>{{ jobs[item].progress }}% Complete</span>
											</div>
										</div>

									</td>
									<td>{{ jobs[item].job_state }}</td>
									<td>{{ jobs[item].alloc_node }}</td>
									<td>{{ jobs[item].num_nodes }}</td>
									<td>{{ jobs[item].num_cpus }}</td>
									<td>{{ jobs[item].work_dir }}</td>
									<td>{{ jobs[item].exit_code }}</td>
									<td>{{ jobs[item].std_err }}</td>
									<td>{{ jobs[item].std_out }}</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Job name</th>
									<th>User</th>
									<th>Run time</th>
									<th>Start time</th>
									<th>Progress</th>
									<th>State</th>
									<th>Node list</th>
									<th>Num nodes</th>
									<th>Num CPUs</th>
									<th>Work dir</th>
									<th>Exit Code</th>
									<th>StdErr</th>
									<th>StdOut</th>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<script>
			$(function () {
  	//Date range picker with time picker
  	$('#start_date').daterangepicker({singleDatePicker: true, timePicker: true, timePicker24Hour: true, timePickerIncrement: 1, format: 'YYYY-MM-DD' + 'T' + 'HH:mm'});
  	$('#end_date').daterangepicker({singleDatePicker: true, timePicker: true, timePicker24Hour: true, timePickerIncrement: 1, format: 'YYYY-MM-DD' + 'T' + 'HH:mm'});
  	$("#jobs").DataTable({
  		"scrollX": true,
  		"scrollY": '55vh',
  		"scrollCollapse": true,
  		"paging": false,
  		"searching": true,
  		"ordering": true,
  		"info": true
  	});
  });
</script>
{% endblock %}