{% from "macros.html" import nav_link with context %}
<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block head %}
    <!-- <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" /> -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel='stylesheet' href="{{ url_for('static', filename='css/fonts/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css') }}">
     <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/skin-blue.min.css') }}">
    {% block styles %}{% endblock %}

    <!-- jQuery 2.1.4 -->
    <script src="{{ url_for('static', filename='js/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
    {% block scripts %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body class="hold-transition skin-blue sidebar-mini fixed">
    <!-- Navigation Bloc -->
    <header class="main-header">
      <!-- Logo -->
      <a href="{{ url_for('home') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>KRC</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>KRC</b>Cluster</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            <!-- Notifications: style can be found in dropdown.less -->
            <!-- <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">10</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have notifications</li>
                <li>
                  <ul class="menu">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for message in messages %}
                        <li>
                          <a href="#">
                            <i class="fa fa-warning text-yellow"></i>
                            {{ message }}
                          </a>
                        </li>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                  </ul>
                </li>
                <li class="footer"><a href="#">View all</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- <div class="user-panel">
          <div class="pull-left image">
            <img src="{{ url_for('static', filename='img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>Alex Subtle</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div> -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">MAIN NAVIGATION</li>
          {% block navigation %}
            {{ nav_link('home', 'Home') }}
            {{ nav_link('cluster', 'Cluster') }}
            {{ nav_link('nodes', 'Nodes') }}
            {{ nav_link('jobs', 'Jobs') }}
            {{ nav_link('users', 'Users') }}
          {% endblock %}
          <!-- <li class="header">LABELS</li> -->
          <!-- <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li> -->
          <!-- <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li> -->
          <!-- <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
    <!-- Navigation Bloc END -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section id="content" class="content" style="overflow-y: scroll">
      {% block content %}
      <div class="cssload-dots">
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
      </div>
      {% endblock %}
      </section>
    </div>
    <footer class="main-footer">
      {% block footer %}
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2016.</strong> All rights
        reserved.
      {% endblock %}
      </footer>
    </div>
  </body>
</html>
