{% extends "layout.html" %}
{% block styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block scripts %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ url_for('static', filename='plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='plugins/fastclick/fastclick.js') }}"></script>
<!-- FLOT CHARTS -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.min.js') }}"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.resize.min.js') }}"></script>
{% endblock %}
{% block title %}KRC Cluster loading{% endblock %}
{% block content %}
<div class="error-page">
  <h2 class="headline text-yellow"> Wait</h2>

  <div class="error-content">
    <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

    <p>
      We could not find the page you were looking for.
      Meanwhile, you may <a href="{{url_for('home')}}">return to dashboard</a>.
    </p>
  </div>
  <!-- /.error-content -->
</div>
{% endblock %}