{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
  <li class="active">
    <a href="{{ url_for(endpoint) }}">
      <span>{{name}}</span>
    </a>
  </li>
{% else %}
  <li>
    <a href="{{ url_for(endpoint) }}">
      <span>{{name}}</span>
    </a>
  </li>
{% endif %}
{% endmacro %}