<div class="row">
	<div class="col-xs-12">

		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Nodes</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Node name</th>
							<th>State</th>
							<th>Up time</th>
							<th>CPUs</th>
							<th>CPU Load</th>
							<th>Real Memory</th>
							<th>Disk Memory</th>
						</tr>
					</thead>
					<tbody>
						{% for item in nodes %}
							<tr>
								<td><a href={{ url_for('node', node=nodes[item].name) }}>{{ nodes[item].name }}</a></td>
								<td>{{ nodes[item].state }}</td>
								<td>{{ nodes[item].boot_time }}</td>
								<td>{{ nodes[item].cpus }}</td>
								<td>{{ nodes[item].cpu_load }}</td>
								<td>{{ nodes[item].real_memory }}</td>
								<td>{{ nodes[item].tmp_memory }}</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>Node name</th>
							<th>State</th>
							<th>Up time</th>
							<th>CPUs</th>
							<th>CPU Load</th>
							<th>Real Memory</th>
							<th>Disk Memory</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->
<script>
  $(function () {
    $("#example1").DataTable({
	  "paging": true,
	  "pageLength": 15,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>