{% extends "layout.html" %}
{% block styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loading.min.css') }}">
{% endblock %}
{% block scripts %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ url_for('static', filename='plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='plugins/fastclick/fastclick.js') }}"></script>
<script>
    $(function () { 
        $("#content").load("/data/nodes");
    });
</script>
{% endblock %}
{% block title %}KRC Cluster | Nodes{% endblock %}