{% extends "layout.html" %}
{% block styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
<!-- daterange picker -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker-bs3.css') }}">
{% endblock %}
{% block scripts %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ url_for('static', filename='plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='plugins/fastclick/fastclick.js') }}"></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
{% endblock %}
{% block title %}KRC Cluster | {{ name }}{% endblock %}
{% block content %}
<!-- Date and time range -->
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Date and time filter for jobs at {{ name }}</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label>Date and time range:</label>
          <!-- Date and time range -->
          {% from "_formhelpers.html" import render_bootstrap_field %}
          <form class="form" method="POST" action="" name="filter-jobs" enctype="multipart/form-data">
            <div class="input-group">
              {{ render_bootstrap_field(form.start_date) }}
              {{ render_bootstrap_field(form.end_date) }}
              <button class="bloc-button btn btn-d btn-lg btn-block" type="submit">
                Filter
              </button>
            </div>
            <!-- /.input group -->
          </form>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->
      </div>
    </div>
  </div>
<div class="col-xs-12">
    <div class="box box-success box-solid">
      <div class="box-header">
        <h3 class="box-title">Basic staticstics for current node</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-xs-4">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Load</h3>
              </div>
              <div class="box-body">
                <p>{{ node['cpu_load'] }}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Up time</h3>
              </div>
              <div class="box-body">
                <p title="days:hours:minutes">{{ node['up_time'] }}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">State</h3>
              </div>
              <div class="box-body">
                <p>{{ node['state'] }}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Real memory</h3>
              </div>
              <div class="box-body">
                <p>{{ node['real_memory'] }}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">CPUs</h3>
              </div>
              <div class="box-body">
                <p>{{ node['cpus'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Current jobs</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Job id</th>
              <th>Job name</th>
              <th>User</th>
              <th>Run time</th>
              <th>State</th>
              <th>Node list</th>
              <th>Num nodes</th>
              <th>Num CPUs</th>
              <th>Exit code</th>
            </tr>
          </thead>
          <tbody>
          {% if jobs %}
            {% for item in jobs %}
            <tr>
              <td><a href={{ url_for('job', job_id=jobs[item].job_id) }}>{{ jobs[item].job_id }}</a></td>
              <td>{{ jobs[item].name }}</td>
              <td>{{ jobs[item].user_id }}</td>
              <td>{{ jobs[item].start_time }}</td>
              <td>{{ jobs[item].job_state }}</td>
              <td>{{ jobs[item].node_list }}</td>
              <td>{{ jobs[item].num_nodes }}</td>
              <td>{{ jobs[item].num_cpus }}</td>
              <td>{{ jobs[item].exit_code }}</td>
            </tr>
            {% endfor %}
          {% endif %}
          </tbody>
          <tfoot>
            <tr>
              <th>Job id</th>
              <th>Job name</th>
              <th>User</th>
              <th>Run time</th>
              <th>State</th>
              <th>Node list</th>
              <th>Num nodes</th>
              <th>Num CPUs</th>
              <th>Exit code</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<script type="text/javascript">
//Date range picker with time picker
$('#start_date').daterangepicker({singleDatePicker: true, timePicker: true, timePicker24Hour: true, timePickerIncrement: 1, format: 'YYYY-MM-DD' + 'T' + 'HH:mm'});
$('#end_date').daterangepicker({singleDatePicker: true, timePicker: true, timePicker24Hour: true, timePickerIncrement: 1, format: 'YYYY-MM-DD' + 'T' + 'HH:mm'});

$(function () {
    $("#example1").DataTable({
    "paging": true,
    "pageLength": 15,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}