{% extends "layout.html" %}
{% block styles %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block scripts %}
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ url_for('static', filename='plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='plugins/fastclick/fastclick.js') }}"></script>
<!-- FLOT CHARTS -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.min.js') }}"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="{{ url_for('static', filename='plugins/flot/jquery.flot.resize.min.js') }}"></script>
{% endblock %}
{% block title %}KRC Cluster | {{ user.name }}{% endblock %}
{% block content %}
<p id="username" style="display: none">{{user.name}}</p>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Last login time</h3>
        <p>{{ user.last_login }}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Line chart -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-bar-chart-o"></i>

        <h3 class="box-title">Line Chart</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div id="line-chart" style="height: 300px;"></div>
      </div>
      <!-- /.box-body-->
    </div>
    <!-- /.box -->
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Total number of jobs</h3>
        <p>{{ user.num_jobs }}</p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Minimal number of used cores</h3>
        <p>{{ user.min_nodes }}</p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Maximal number of used cores</h3>
        <p>{{ user.max_nodes }}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Maximal job running time</h3>
        <p>{{ user.max_job_time }}</p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title" title="total time for executing all user's jobs">Total CPUs time</h3>
        <p>{{ user.cpus_time }}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Current jobs</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>JobID</th>
              <th>JobName</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for job in user.cur_jobs %}
            <tr>
              <td><a href={{ url_for('job', job_id=job[0]) }}>{{ job[0] }}</a></td>
              <td>{{ job[1] }}</td>
              <td>{{ job[5] }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>JobID</th>
              <th>JobName</th>
              <th>Status</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<script type="text/javascript">
$(function () {
  $("#example1").DataTable({
    "paging": true,
    "pageLength": 15,
    "lengthChange": false,
    "searching": true,
    "ordering": true,
    "info": true,
    "autoWidth": false
  });

  /*
   * LINE CHART
   * ----------
   */
  function drawChart(json) {
   var line_data1 = {
      data: json.data,
      label: json.label,
      color: "#3c8dbc"
    };
    $.plot("#line-chart", [line_data1], {
      grid: {
        hoverable: true,
        borderColor: "#f3f3f3",
        borderWidth: 1,
        tickColor: "#f3f3f3"
      },
      series: {
        shadowSize: 0,
        lines: {
          show: false
        },
        points: {
          show: true
        }
      },
      lines: {
        fill: false,
        color: ["#3c8dbc"]
      },
      yaxis: {
        show: true,
      },
      xaxis: {
        // mode: "time",
        show: true
      }
    });
    //Initialize tooltip on hover
    $('<div class="tooltip-inner" id="line-chart-tooltip"></div>').css({
      position: "absolute",
      display: "none",
      opacity: 0.8
    }).appendTo("body");
    $("#line-chart").bind("plothover", function (event, pos, item) {

      if (item) {
        var x = item.datapoint[0].toFixed(2),
        y = item.datapoint[1].toFixed(2);

        $("#line-chart-tooltip").html(item.series.label + " : " + x + " seconds oo " + y + " nodes")
        .css({top: item.pageY + 5, left: item.pageX + 5})
        .fadeIn(200);
      } else {
        $("#line-chart-tooltip").hide();
      }

    });
    /* END LINE CHART */ 
  }

  var chartDataPlace = "/chart-data/user/" + $("#username").text()
  $.getJSON(chartDataPlace, function(json) {
    drawChart(json);
  });
    
});
</script>
{% endblock %}