<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Users</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="users" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>User name</th>
							<th>Account</th>
							<th>Administrator</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td><a href={{ url_for('user', user=users[user].name) }}>{{ users[user].name }}</a></td>
							<td>{{ users[user].account }}</td>
							<td>{{ users[user].administrator }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>User name</th>
							<th>Account</th>
							<th>Administrator</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->
<script>
  $(function () {
    $("#users").DataTable({
	  "paging": true,
	  "pageLength": 15,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>